<div class="row">
    <div class="column intro" id="intro">
      <h1 class="introHader">{{introHader}}</h1>
      <p class="introBody">{{introBody}}</p>
    </div>

    <div class="column formBody">
      <h1 class="Header textShadow">Registration</h1>
      <div class="devider"></div>

      <mat-form-field class="field-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email"  [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Enter email" required>
      </mat-form-field>
      

      <mat-form-field class="field-width">
        <mat-label>password</mat-label>
        <input matInput [type]="hidePass ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass" required>
        <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="field-width">
        <mat-label>re password</mat-label>
        <input matInput [type]="hideRePass ? 'password' : 'text'" [(ngModel)]="rePassword">
        <button mat-icon-button matSuffix (click)="hideRePass = !hideRePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRePass" required>
        <mat-icon>{{hideRePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="NameW"><mat-label class="nameHad textBody">Name</mat-label></div>
      <div class="nameForm">
      <mat-form-field class="fName-width">
        <mat-label>First name</mat-label>
        <input matInput placeholder="Enter first name" [(ngModel)]="firstName" name="firstName" required>
      </mat-form-field>
      <mat-form-field class="lName-width">
        <mat-label>Last name</mat-label>
        <input matInput placeholder="Enter last name" [(ngModel)]="lastName" name="lastName" required>
      </mat-form-field>
      </div>

      <mat-form-field class="field-width">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Enter company name" [(ngModel)]="company" name="company" required>
      </mat-form-field>
      <mat-form-field class="field-width">
        <mat-label>Team</mat-label>
        <input matInput placeholder="Enter team name" [(ngModel)]="team" name="team">
      </mat-form-field>

      <mat-form-field class="field-width">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="role" required>
          <mat-option value="Worker">Worker</mat-option>
          <mat-option value="Manager">Manager</mat-option>
        </mat-select>
      </mat-form-field>

     <div><button mat-raised-button type="button" class="btn" (click)="SingUp()">Registration</button></div>
     <button mat-raised-button type="button" class="btn" (click)="cansel()">Censel</button>
    </div>

  </div>