table.requestTable{
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 100%;
    width: 90%;
    margin: auto;
}

th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

input.shift{
    width: 99%;
    outline: none;
    text-align: center;
    border: none;
}

button.btn{
    width: auto;
    height: 30px;
    size: 30px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: #1DB2EC; 
    color: black;
    font-weight: bold;
    outline: none;
    border: 0;
    margin-top: 1%;
  }

  button.pn{
    font-size: 20px;
    margin-left: 1%;
  }

  div.main{
      width: 100%;
  }

  div.pn{
    margin-left: 40%;
    margin-bottom: 2%;
  }

  div.priority{
      background-color: rgb(0, 0, 0, 0.2);
  }
  p.p0{
      color: red;
  }
  p.p1{
    color: orange;
  }
  p.p2{
    color: yellow;
  }
  p.p3{
    color: blue;
  }
  p.p4{
    color: green;
  }