<div class="toolbar" role="banner">
    <img class="sized"
      alt="ShiftIcon"
      src="../assets/ShiftIcon.png"
    />
    <div class="spaser"></div>
    <span class="textShadow">Shift project</span>
      <div class="spacer"></div>
      <div class="bigSpaser"></div>
        <img (click)="userClick()" class="sized" alt="personIcon" src="../assets/person.png"/>
        <p class="textShadow" (click)="userClick()">{{userName}}</p>

      <div class="logoutLink">
        <button mat-button (click)="logOut()">Logout</button>
      </div>
  </div>