
<div class="row main">
    <div class="column intro" id="intro">
      <h1 class="introHader">Site name</h1>
      <p>Few limes about the system</p>
    </div>

    <div class="column formBody">
      <h1 class="login">Login</h1>

      <div class="devider"></div>

      <div><input type="text" class="txt" id="userNameLogin" name="userName" placeholder="Enter username" required></div>
      <div><input type="password" class="txt" id="passwordLogin" name="password" placeholder="Enter password" required></div>
      <button type="button" class="btn" onclick="Login()">Login</button>
   
      <h2 class="or"><span>OR</span></h2>
     
      <button type="button" class="btn" (click)="goToRegister()">Sing up</button>
    </div>

  </div>
