
<div class="row main">
    <div class="column intro" id="intro">
      <h1 class="introHader">{{introHader}}</h1>
      <p>{{introBody}}</p>
    </div>

    <div class="column formBody">
      <h1 class="Header textShadow">Login</h1>

      <div class="devider"></div>

      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter username" [(ngModel)]="username" name="username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button type="button" class="btn" (click)="login()">Login</button>
   
      <h2 class="or textShadow"><span>OR</span></h2>
     
      <button mat-raised-button type="button" class="btn" (click)="goToRegister()">Sing up</button>
    </div>

  </div>
