
<div class="row main">
    <div class="column intro" id="intro">
      <div style="height: 20vh;"></div>
      <h1>Site name</h1>
      <p>Few limes about the system</p>
    </div>

    <div class="column" style="width: 20%;"></div>

    <div class="column" style="text-align: center;">
      <div style="height: 30vh;"></div>
        <div>
            <h1 style="color: rgb(7, 102, 139);">Login</h1>
        </div>

        <div style="background-color: rgb(45, 97, 117); height: 2px"></div>

      <div class="column">
        <div><input type="text" class="txt" id="userNameLogin" name="userName" placeholder="Enter username" required></div>
        <div><input type="password" class="txt" id="passwordLogin" name="password" placeholder="Enter password" required></div>
        <div><button type="button" class="btn" onclick="Login()">Login</button></div>
     </div>

     <div style="margin-top: 40px;">
        <h2><span>OR</span></h2>
     </div>

     <button type="button" class="btn" (click)="goToRegister()">Sing up</button>
     
    </div>

  </div>
