input.shift {
  width: 99%;
  outline: none;
  text-align: center;
  border: none;
}

button.save {
  margin-top: 1%;
  margin-left: 50%;
}

option.employee {
  width: 100%;
  font-size: 30px;
}

.textBody{
  text-align: center;
}