<div class="main">
    <div class="pn">
        <button class="btn pn" (click)="previousWeek()"><previous week</button>
        <button class="btn pn" (click)="nextWeek()">next week></button>
    </div>
<table class="requestTable">
    <tr>
        <!--Day name-->
          <th *ngFor = "let dayDate of dayDates">
            {{dayNames[dayDate.getDay()]}}
          </th>
    </tr>
    <tr>
        <!--Date-->
        <th *ngFor = "let dayDate of dayDates">
            {{dayDate.toLocaleDateString()}}
          </th>
    </tr>
    <tr *ngFor = "let row of shifts">
        <td *ngFor = "let shift of row">
            <div class="column">
                <p>{{shift.owner.name}}</p>
                <p>{{shift.getFromTo()}}</p>
            </div>
        </td>
    </tr>
</table>

<div style="height: 2vh;"></div>
<app-build-schedule [hidden]="!isManager">loading...</app-build-schedule>
