div.card{
    text-align: center;
    border-radius: 4px;
    outline: thick;
    height: 10%;
    width: 28%;
    background-color: rgba(103, 176, 194, 0.2);
    margin-left: 2%;
    padding: 1%;
}

div.card:hover{
  background-color: rgba(103, 176, 194, 0.6);
}

img.center {
    margin: auto; 
    width: 50%;
  }

  div.center{
    width: 50%;
    margin: auto;
    overflow: visible;
  }

  div.vreticleCenter{
      margin-left: auto;
      width: 80%;
  }