<div class="row vreticleCenter">
<div class="card column" onclick="DashboardClick()">
    <img class="center"
    alt="dashboardIcon"
    src="../assets/dashboard.png"
  />
  <div class="center"><p>Dashboard</p></div>
</div>

<div class="column"></div>

<div class="card column"  onclick="ScheduleClick()">
    <img class="center"
    alt="calendarIcon"
    src="../assets/calendar.png"
  />
  <div class="center"><p>Schedule</p></div>
</div>

<div class="column"></div>

<div class="card column" onclick="RequestsClick()">
    <img class="center"
    alt="requestIcon"
    src="../assets/request.png"
  />
  <div class="center"><p>Requests</p></div>
</div>

<div class="column"></div>

<div class="card column" onclick="TimesheetClick()">
    <img class="center"
    alt="sheetIcon"
    src="../assets/sheet.png"
  />
  <div class="center"><p>Timesheet</p></div>
</div>


</div>