div.card{
    border-radius: 4px;
    outline: thick;
    height: 10%;
    width: 20%;
    background-color: rgba(103, 176, 194, 0.4);
    margin-left: 2%;
}

img.center {
    margin: auto; 
    width: 50%;
  }

  div.center{
      text-align: center;
  }

  div.vreticleCenter{
      margin-left: 20%;
      width: 100%;
  }