<div class="row vreticleCenter">
    <div class="card column center" (click)="DashboardClick()">
        <img class="center" alt="dashboardIcon" src="../assets/dashboard.png" />
        <p>Dashboard</p>
    </div>

    <div class="card column center" (click)="ScheduleClick()">
        <img class="center" alt="calendarIcon" src="../assets/calendar.png" />
        <p>Schedule</p>
    </div>

    <div class="card column center" (click)="RequestsClick()">
        <img class="center" alt="requestIcon" src="../assets/request.png" />
        <p>Requests</p>
    </div>
</div>


    <!--<div class="card column center" (click)="TimesheetClick()">
        <img class="center" alt="sheetIcon" src="../assets/sheet.png" />
        <p>Timesheet</p>
    </div>-->
<!--</div>-->