<div class="row center">
    <div class="card column objectShedow" (click)="DashboardClick()">
        <img class="center" alt="dashboardIcon" src="../assets/dashboard.png" />
        <p class="textBody">Dashboard</p>
    </div>

    <div class="column card objectShedow" (click)="ScheduleClick()">
        <img class="center" alt="calendarIcon" src="../assets/calendar 3.png" />
        <p class="textBody">Schedule</p>
    </div>

    <div class="card column objectShedow" (click)="RequestsClick()">
        <img class="center" alt="requestIcon" src="../assets/calendar 4.png" />
        <p class="textBody">Requests</p>
    </div>
</div>