div.card{
    border-radius: 5px;
    outline: thick;
    height: 10%;
    width: 80vw;
    background-color: rgba(103, 176, 194, 0.2);
    margin-left: 10%;
    padding-left: 2%;
    padding-top: 2%;
}

div.center{
    text-align: center;
    width: 100%;
    padding-bottom: 0.5%;
}

div.toStart{
    text-align: start;
    padding: 2%;
}

img.sized{
    max-height: 10vh;
}