/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

div.column {
      float: left;
      padding: 10px;
  }

  div.row:after {
    content: "";
    display: table;
    clear: both;
  }